Django==3.1.8
gspread==3.7.0
Jinja2==2.11.2
mysql_connector_python==8.0.24
pandas==1.2.4
py==1.10.0
requests==2.25.1
urllib3==1.26.4
mysqlclient
django-material
python-decouple
debugpy==1.2.0
whitenoise==5.1.0
gunicorn==20.0.4
